@model BolfTracker.Web.GamePanelViewModel
@{
    ViewBag.Title = "Game Panel";
}
<h2>
    Game Panel</h2>
<fieldset>
    <legend>Game Information</legend>
    <div class="display-field">@String.Format("{0:d}", Model.Game.Date)</div>
    @if (!Model.GameFinalized)
    {
        using (Html.BeginForm("Finalize", "Game", FormMethod.Post))
        {
        @Html.Hidden("gameId", Model.Game.Id)
        <input type="submit" value="Finalize Game" />
        }
    }
</fieldset>
@if (!Model.GameFinalized)
{
    <fieldset>
        <legend>Enter Score</legend>
        @using (Html.BeginForm("Create", "Score", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Game.Id)
            <label for="player">
                Player:
            </label>@Html.DropDownListFor(m => m.Player, Model.AllPlayers)
            <label for="hole">
                Hole:
            </label>@Html.DropDownListFor(m => m.Hole, Model.AllHoles, new { @id = "currentHole" })
            <label for="attempts">
                Attempts:
            </label>
            <input type="text" name="attempts" id="attempts" />
            <label for="shotMade">
                Shot Made:
            </label>
            <input type="checkbox" name="shotMade" id="shotMade" />
            <input type="submit" value="Save Shot" />
        }
    </fieldset>
}

<fieldset>
    <legend>Leaderboard</legend>
    @if (Model.Game.Shots.Any())
    {
        
        
        <table id="leaderboard">
            <tr>
                <th style="width: 150px; text-align: left;">
                    Player
                </th>
                <th style="width: 70px; text-align: left;">
                    Points
                </th>
                <th style="width: 95px; text-align: left;">
                    Shooting
                </th>
                <th style="width: 70px; text-align: left;">
                    Steals
                </th>
                <th style="width: 70px; text-align: left;">
                    Pushes
                </th>
            </tr>
            @foreach (var player in Model.Leaderboard)
            {
                <tr>
                    <td>@player.Player.Name
                    </td>
                    <td>@player.Points
                    </td>
                    <td>@player.ShotsMade/@player.Attempts (@player.ShootingPercentage.ToString("P0"))
                    </td>
                    <td>@player.Steals
                    </td>
                    <td>@player.Pushes
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>
            Game has not started.</p> 
    }
    <p>
        <label>Points Available: </label>
        <span>@Model.PointsAvailable</span>
    </p>
</fieldset>
<fieldset>
    <legend>Scoreboard</legend>
   @Html.Partial("_Scoreboard", new BolfTracker.Web.ViewModels.HoleViewModel(Model.Game))
</fieldset>
<fieldset>
    <legend>Hole History</legend>
    @if (Model.Game.Shots.Any())
    {
        int lastShot = Model.Game.Shots.Max(s => s.Id);
        
        
        
        <table id="hole-history">
            <tr>
                <th style="width: 50px; text-align: left;">
                    Hole
                </th>
                <th style="width: 150px; text-align: left;">
                    Player
                </th>
                <th style="width: 85px; text-align: left;">
                    Attempts
                </th>
                <th style="width: 200px; text-align: left;">
                    Result
                </th>
                <th>
                </th>
            </tr>
            @foreach (var score in Model.Game.Shots.OrderBy(s => s.Id))
            {
                if (score.Points > 0)
                { 
                <tr style="font-weight: bold;">
                    <td>@score.Hole.Id
                    </td>
                    <td>@score.Player.Name
                    </td>
                    <td>@score.Attempts
                    </td>
                    <td>@score.ShotType.Name (@score.Points Points)
                    </td>
                    <td>
                        @if (score.Id == lastShot && !Model.GameFinalized)
                        {
                            using (Html.BeginForm("Delete", "Score", FormMethod.Post))
                            { 
                                @Html.Hidden("scoreId", score.Id)
                                @Html.Hidden("gameId", score.Game.Id)
                                <input type="submit" value="Delete" />
                            }
                        }
                    </td>
                </tr>
                }
                else
                { 
                <tr>
                    <td>@score.Hole.Id
                    </td>
                    <td>@score.Player.Name
                    </td>
                    <td>@score.Attempts
                    </td>
                    <td>@score.ShotType.Name
                    </td>
                    <td>
                        @if (score.Id == lastShot && !Model.GameFinalized)
                        {
                            using (Html.BeginForm("Delete", "Score", FormMethod.Post))
                            { 
                                @Html.Hidden("scoreId", score.Id)
                                @Html.Hidden("gameId", score.Game.Id)
                                <input type="submit" value="Delete" />
                            }
                        }
                    </td>
                </tr>
                }
            }
        </table>
    }
    else
    { 
        <p>
            Game has not started.</p> 
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Game.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section javascript
{
    @if (false)
    {
        <script type="text/javascript" src="../../Scripts/jquery-1.5.js"></script>
        <script src="../../Scripts/jquery-ui.js" type="text/javascript"></script>
    }
    <script type="text/javascript">

        var par = 0;
        var lastAttempt = 0;
        
        @if(Model.Game.Shots.Any())   
        {
            @: par = @Model.Holes.FirstOrDefault(h => h.Id == Model.GetCurrentHole()).Par;

            var lastShotAttempt = Model.Game.Shots.LastOrDefault(s => s.Hole.Id == Model.GetCurrentHole());
            if(lastShotAttempt != null)
            {
                @: lastAttempt = @lastShotAttempt.Attempts;
            }
        }

        $(function ()
        {
            if(lastAttempt == 1)
            {
                $("#attempts").val(1);
            }

            $("#attempts").focus();

            $("#attempts").keydown(function (event)
            {
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 13)
                {
                } else
                {
                    if (event.keyCode < 95)
                    {
                        if (event.keyCode < 48 || event.keyCode > 57)
                        {
                            event.preventDefault();
                        }
                    } else
                    {
                        if (event.keyCode < 96 || event.keyCode > 105)
                        {
                            event.preventDefault();
                        }
                    }
                }
            });

            $("#attempts").keyup(function()
            {
                validateAttempts();
            });
            
            $("body").keydown(function (event)
            {
                switch (event.keyCode)
                {
                    case 38:
                    case 40:

                        var currVal = parseInt($("#attempts").val());

                        if (isNaN(currVal))
                        {
                            currVal = 0;
                        }

                        if (event.keyCode == 38)
                        {
                            currVal++;
                        } 
                        else if (currVal > 0)
                        {
                            currVal--;
                        }
                        
                        $("#attempts").val(currVal);

                        validateAttempts();

                        break;
                    case 77:
                        if ($("#shotMade").attr("checked"))
                        {
                            $("#shotMade").removeAttr("checked");
                        }
                        else
                        {
                            $("#shotMade").attr("checked", "checked");
                        }
                        break;

                    case 13 :
                        
                        var currVal = parseInt($("#attempts").val());

                        if (isNaN(currVal))
                        {
                            currVal = 0;
                        }

                        if(currVal < par )
                        {
                            if(lastAttempt > 0)
                            {
                                if(currVal > 0 && currVal < lastAttempt)
                                {
                                    $("#shotMade").attr("checked", "checked");
                                }
                                else
                                {
                                    $("#attempts").val(lastAttempt);
                                }
                            }
                            else
                            {
                                $("#shotMade").attr("checked", "checked");
                            }
                        }
                        break;
                }
            });
        });

        function validateAttempts()
        {
            if(par > 0)
            {
                var currVal = parseInt($("#attempts").val());
            
                if(isNaN(currVal))
                {
                    currVal = 0;
                }
                if(currVal > par && par > 0)
                {
                    currVal = par;
                }

                if(currVal > lastAttempt && lastAttempt > 0)
                {
                    currVal = lastAttempt;
                }
                
                if(currVal == 0 && lastAttempt == 1)
                {
                    currVal = 1
                }

                $("#attempts").val(currVal);
            }
        }

    </script>
}