@model BolfTracker.Web.GamesViewModel
@{
  ViewBag.Title = "Games - Bolf Tracker";
}
<h2>
  Games</h2>
<p>
  @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model.Games)
{
  var pgs = Model.GetPlayerGameStatistics(item.Id);
  <table class="bordered-table zebra-striped">
    <thead>
      <tr>
        <th>
          @Html.ActionLink(String.Format("{0:d}", item.Date), "Details", new { id = item.Id })
        </th>
        <th>Points</th>
        <th>Shooting %</th>
        <th>Pushes</th>
        <th>Steals</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var player in pgs)
      {
        <tr>
          <td>@player.Player.Name
          </td>
          <td>@player.Points
          </td>
          <td>@player.ShootingPercentage
          </td>
          <td>@player.Pushes
          </td>
          <td>@player.Steals
          </td>
        </tr>
      }
    </tbody>
  </table>
}