@model BolfTracker.Web.HolesViewModel
@{
  ViewBag.Title = "Holes - Bolf Tracker";
}
<h2>
  Monthly Hole Statistics</h2>
@Html.Partial("_HoleStatistics", Model.CurrentMonthHoleStatistics)
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{ 
  <h2>
    Holes</h2>
  <p>
    @Html.ActionLink("Create New", "Create")
  </p>
  <table class="zebra-striped">
    <tr>
      <th>
      </th>
      <th>
        Number
      </th>
      <th>
        Par
      </th>
    </tr>
    @foreach (var item in Model.Holes)
    {
      <tr>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
          @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
        <td>
          @item.Id
        </td>
        <td>
          @item.Par
        </td>
      </tr>
    }
  </table>
} 