@model IEnumerable<BolfTracker.Models.Player>
@{
  ViewBag.Title = "Players - League Manager - Bolf Tracker";
}
<div class="page-header">
  <div class="row">
    <div class="col-md-8">
      <h1>League Manager</h1>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li>@Html.ActionLink("Statistics", "Index", "Admin")</li>
  <li class="active">@Html.ActionLink("Players", "Players", "Admin")</li>
  <li>@Html.ActionLink("Holes", "Holes", "Admin")</li>
</ul>
<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(player.Name, "Details", "Player", new { id = player.Id, name = player.UrlFriendlyName }, null)</td>
                            <td>@Html.ActionLink("Edit", "Edit", "Player", new { id = player.Id }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
  @Html.ActionLink("Create Player", "Create", "Player", null, new { @class = "btn" })
</p>
