<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
  <style type="text/css">
    body
    {
      margin-top: 50px;
    }
    input[type="text"], input[type="number"], select
    {
      margin-bottom: 10px;
    }
  </style>
  @RenderSection("javascriptrefs", required: false)
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        @Html.ActionLink("Bolf Tracker", "Index", "Ranking", null, new { @class = "brand" })
        <ul class="nav">
          <li>@Html.ActionLink("Rankings", "Index", "Ranking")</li>
          <li>@Html.ActionLink("Games", "Index", "Game")</li>
          <li>@Html.ActionLink("Players", "Index", "Player")</li>
          <li>@Html.ActionLink("Holes", "Index", "Hole")</li>
        </ul>
        <ul class="nav secondary-nav">
          <li><strong>@(HttpContext.Current.User.Identity.IsAuthenticated ? Html.ActionLink("Logout", "SignOut", "Player") : Html.ActionLink("Login", "Login", "Player"))</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      @RenderBody()
    </div>
  </div>
  @RenderSection("javascript", required: false)
</body>
</html>
