<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/content/bootstrap-1.4.0.min.css")" rel="stylesheet" type="text/css" />
  <style type="text/css">
    html, body
    {
      background: url('@Url.Content("~/content/images/background.png")');
    }
    body
    {
      margin-top: 40px;
    }
    input[type="text"], input[type="number"], select
    {
      margin-bottom: 10px;
    }
    .content
    {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px;
      min-height: 500px;
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }
    .container > footer
    {
        color: #777;
        margin: 0;
        border-top: 0px;
        padding-bottom: 10px;
    }
  </style>
  <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
  @MvcMiniProfiler.MiniProfiler.RenderIncludes()
  @RenderSection("javascriptrefs", required: false)
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        @Html.ActionLink("Bolf Tracker", "Index", "Home", null, new { @class = "brand" })
        <ul class="nav">
          <li>@Html.ActionLink("Rankings", "Index", "Ranking")</li>
          <li>@Html.ActionLink("Games", "Index", "Game")</li>
          <li>@Html.ActionLink("Players", "Index", "Player")</li>
          <li>@Html.ActionLink("Holes", "Index", "Hole")</li>
        </ul>
        <ul class="nav secondary-nav">
          <li><strong>@(HttpContext.Current.User.Identity.IsAuthenticated ? Html.ActionLink("Logout", "SignOut", "Player") : Html.ActionLink("Login", "Login", "Player"))</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      @RenderBody()
    </div>
    <footer>
      <p>
        Designed and built by <a href="http://twitter.com/mkchandler">@@mkchandler</a> and friends.<br />
        Code licensed under the <a href="https://raw.github.com/mkchandler/bolf-tracker-mvc/dev/license.txt">MIT License</a> and is available on <a href="https://github.com/mkchandler/bolf-tracker-mvc">GitHub</a>.
        </p>
    </footer>
  </div>
  @RenderSection("javascript", required: false)
</body>
</html>
