@model BolfTracker.Models.PlayerCareerStatistics
<table class="condensed-table bordered-table zebra-striped">
  <thead>
    <tr>
      <th title="Shots Made">
        Made
      </th>
      <th title="Attempts">
        Attempts
      </th>
      <th title="Shooting Percentage">
        Shooting %
      </th>
      <th title="Points">
        P
      </th>
      <th title="Points Per Game">
        PPG
      </th>
      <th title="Wins">
        W
      </th>
      <th title="Losses">
        L
      </th>
      <th title="Winning Percentage">
        Win %
      </th>
      <th title="Pushes">
        Pushes
      </th>
      <th title="Pushes Per Game">
        Pushes PG
      </th>
      <th title="Steals">
        Steals
      </th>
      <th title="Steals Per Game">
        SPG
      </th>
      <th title="Sugar Free Steals">
        SFS
      </th>
      <th title="Sugar Free Steals Per Game">
        SFS/PG
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Model.ShotsMade
      </td>
      <td>
        @Model.Attempts
      </td>
      <td>
        @Model.ShootingPercentage
      </td>
      <td>
        @Model.Points
      </td>
      <td>
        @Model.PointsPerGame
      </td>
      <td>
        @Model.Wins
      </td>
      <td>
        @Model.Losses
      </td>
      <td>
        @Model.WinningPercentage
      </td>
      <td>
        @Model.Pushes
      </td>
      <td>
        @Model.PushesPerGame
      </td>
      <td>
        @Model.Steals
      </td>
      <td>
        @Model.StealsPerGame
      </td>
      <td>
        @Model.SugarFreeSteals
      </td>
      <td>
        @Model.SugarFreeStealsPerGame
      </td>
    </tr>
  </tbody>
</table>
