@model IEnumerable<BolfTracker.Models.PlayerHoleStatistics>
<table class="condensed-table bordered-table zebra-striped">
  <thead>
    <tr>
      <th title="Hole">
        Hole
      </th>
      <th title="Shots Made">
        Made
      </th>
      <th title="Attempts">
        Attempts
      </th>
      <th title="Shooting Percentage">
        Shooting %
      </th>
      <th title="Points">
        Points
      </th>
      <th title="Pushes">
        Pushes
      </th>
      <th title="Steals">
        Steals
      </th>
      <th title="Sugar Free Steals">
        SFS
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @item.Hole.Id
        </td>
        <td>
          @item.ShotsMade
        </td>
        <td>
          @item.Attempts
        </td>
        <td>
          @String.Format("{0:#.###}", item.ShootingPercentage)
        </td>
        <td>
          @item.PointsScored
        </td>
        <td>
          @item.Pushes
        </td>
        <td>
          @item.Steals
        </td>
        <td>
          @item.SugarFreeSteals
        </td>
      </tr>
    }
  </tbody>
</table>
