@model BolfTracker.Web.PlayerViewModel
@{
  ViewBag.Title = "Player Details - Bolf Tracker";
}
<div class="page-header">
  <div class="row">
    <div class="span16">
      <h2>@Model.Player.Name</h2>
    </div>
  </div>
</div>
<h3>
  @String.Format("{0} {1} Statistics", Model.MonthName, Model.Year)</h3>
@if (Model.PlayerStatistics != null)
{
  @Html.Partial("_PlayerStatistics", Model.PlayerStatistics)
}
else
{ 
  <p>
    Monthly player stats not yet available.</p>
}
<h3>
  @String.Format("{0} {1} Hole Statistics", Model.MonthName, Model.Year)</h3>
@if (Model.PlayerHoleStatistics != null && Model.PlayerHoleStatistics.Any())
{
  @Html.Partial("_PlayerHoleStatistics", Model.PlayerHoleStatistics)
}
else
{ 
  <p>
    Monthly player hole stats not yet available.</p>
} 