@model BolfTracker.Web.PlayerViewModel
@{
  ViewBag.Title = Model.Player.Name + " - Bolf Tracker";
  ViewBag.Section = "Player";
}
<div class="page-header">
  <h1>@Model.Player.Name</h1>
</div>
<h2>Monthly Statistics</h2>
@if (Model.PlayerStatistics != null)
{
  @Html.Partial("_PlayerStatistics", Model.PlayerStatistics)
}
else
{ 
  <p>Monthly player stats not yet available.</p>
}
<h2>Career Statistics</h2>
@if (Model.PlayerStatistics != null)
{
  @Html.Partial("_PlayerCareerStatistics", Model.PlayerCareerStatistics)
}
else
{ 
  <p>Career player stats not yet available.</p>
}
<h2>@Model.MonthName @Model.Year Hole Statistics</h2>
@if (Model.PlayerHoleStatistics != null && Model.PlayerHoleStatistics.Any())
{
  @Html.Partial("_PlayerHoleStatistics", Model.PlayerHoleStatistics)
}
else
{ 
  <p>Monthly player hole stats not yet available.</p>
}
@section javascript {
  <script>
    $(function () {
      $("#monthly-stats, #hole-stats").tablesorter();
    });
  </script>
}
