@model BolfTracker.Web.PlayersViewModel
@{
  ViewBag.Title = "Players - Bolf Tracker";
  ViewBag.Section = "Player";
}
<div class="page-header">
  <h1>Player Statistics</h1>
</div>
<h2>@Model.MonthName @Model.Year Player Statistics</h2>
<div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped" id="current-month-stats">
    <thead>
      <tr>
        <th title="Player">Player</th>
        <th title="Wins">W</th>
        <th title="Losses">L</th>
        <th title="Winning Percentage">Win %</th>
        <th title="Shots Made ">Made</th>
        <th title="Attempts">Attempts</th>
        <th title="Shooting Percentage">Shooting %</th>
        <th title="Points">Points</th>
        <th title="Points Per Game">PPG</th>
        <th title="Pushes">Pushes</th>
        <th title="Pushes Per Game">Pushes/PG</th>
        <th title="Steals">Steals</th>
        <th title="Sugar-Free Steals">SFS</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var player in Model.PlayerStatistics)
      {
        <tr>
          <td>@Html.ActionLink(player.Player.Name, "Details", new { id = player.Player.Id, name = player.Player.UrlFriendlyName })</td>
          <td>@player.Wins</td>
          <td>@player.Losses</td>
          <td>@player.WinningPercentage</td>
          <td>@player.ShotsMade</td>
          <td>@player.Attempts</td>
          <td>@player.ShootingPercentage</td>
          <td>@player.Points</td>
          <td>@player.PointsPerGame</td>
          <td>@player.Pushes</td>
          <td>@player.PushesPerGame</td>
          <td>@player.Steals</td>
          <td>@player.SugarFreeSteals</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<h2>Career Player Statistics</h2>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped" id="career-stats">
        <thead>
            <tr>
                <th title="Player">Player</th>
                <th title="Wins">W</th>
                <th title="Losses">L</th>
                <th title="Winning Percentage">Win %</th>
                <th title="Shots Made ">Made</th>
                <th title="Attempts">Attempts</th>
                <th title="Shooting Percentage">Shooting %</th>
                <th title="Points">Points</th>
                <th title="Points Per Game">PPG</th>
                <th title="Pushes">Pushes</th>
                <th title="Pushes Per Game">Pushes/PG</th>
                <th title="Steals">Steals</th>
                <th title="Sugar-Free Steals">SFS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.PlayerCareerStatistics)
            {
                <tr>
                    <td>@Html.ActionLink(player.Player.Name, "Details", new { id = player.Player.Id, name = player.Player.UrlFriendlyName })</td>
                    <td>@player.Wins</td>
                    <td>@player.Losses</td>
                    <td>@player.WinningPercentage</td>
                    <td>@player.ShotsMade</td>
                    <td>@player.Attempts</td>
                    <td>@player.ShootingPercentage</td>
                    <td>@player.Points</td>
                    <td>@player.PointsPerGame</td>
                    <td>@player.Pushes</td>
                    <td>@player.PushesPerGame</td>
                    <td>@player.Steals</td>
                    <td>@player.SugarFreeSteals</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <div id="chart"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
@section javascript {
  <script src="@Url.Content("~/js/jquery.tablesorter.min.js")"></script>
  <script>
    $(function () {
      $("#current-month-stats, #career-stats").tablesorter();
    });
  </script>
}
